<%= simple_form_for @bear, html: {class: 'form-vertical'} do |f| %>


  <% if @bear.errors.any? %>
    <div id="error_explanation">
      <h2>Attention : Il y a <%= pluralize(@bear.errors.count, "erreur") %> !</h2>
      <ul>
        <% @bear.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, :inline_label => true, :label => "Nom" %>
    <%= f.input :description, :as => :text, :label => "Description" %>
    <%= f.input :picture, :as => :file, :label => "Image" %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Annuler', class: 'btn btn-danger' %>
  </div>
<% end %>
